atlassian-ide-plugin.xml
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
.idea/
.idea/**/aws.xml
.idea/caches/build_file_checksums.ser
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/httpRequests
.idea/**/libraries
.idea/misc.xml
.idea_modules/
.idea/**/mongoSettings.xml
.idea/replstate.xml
.idea/**/shelf
.idea/sonarlint
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
*.iml
*.ipr
*.iws
modules.xml
out/
